*DS_STORE
.envs
*.pyc
celerybeat-schedule
*.log
monitor-backend/static/admin/*
monitor-backend/staticfiles/admin/*
monitor-backend/static/rest_framework/*
monitor-backend/staticfiles/rest_framework/*
celerybeat-schedule.db
